<div id='top' class='row site'>
  <div class='sm-12 md-8 col'>
    <div class='paper'>
      <div class='demo-title'>
        <div class='row flex-center'>
          <div class='text-center'>
            <!-- <img class="logo" src="/assets/tech-blogui.svg" alt=""> -->
            <h1>Public Paper Notes</h1>
            <h3>anotações mais acessadas</h3>
          </div>
        </div>

        <div class="row flex-center child-borders">
          <a class='paper-btn btn-secondary margin' href='/'>Web Apps</a>
          <a class='paper-btn btn-secondary margin current' href='/docs/'>Performance</a>
          <a class='paper-btn btn-secondary margin' href='/about/'>Mono repos</a>
          <a href="#" target="_blank" class="paper-btn btn-secondary margin">Angular CDK</a>
        </div>

      </div>
      <div class="to-top">
        <a href="#top" class="paper-btn margin">^</a>
      </div>

      <!-- Conteúdo -->
      <ng-content></ng-content>
      <!-- /Conteúdo -->

    </div>
  </div>
  <div class='sm-12 md-4 col sidebar'>

    <div class='paper'>
      <h3 class='sidebar-title' style='text-align:center'>
        <a href='/docs'>Conteúdos</a>
      </h3>
      <div class='row'>

        <div class='collapsible full-width'>
          <input id='collapsible-components' type='radio' name='collapsible'>
          <label for="collapsible-components">Componentes</label>
          <div class="collapsible-body">
            <ul>

              <li *ngFor="let page of links$ | async">
                <a [routerLink]="page.route">{{ page.title }}</a>
              </li>

            </ul>
          </div>
        </div>

        <div class='collapsible full-width'>
          <input id='collapsible-content' type='radio' name='collapsible'>
          <label for="collapsible-content">Conteúdo</label>
          <div class="collapsible-body">
            <ul>

              <li>
                <a href='/docs/content/code/'>Code</a>
              </li>

              <li>
                <a href='/docs/content/images/'>Images</a>
              </li>

              <li>
                <a href='/docs/content/lists/'>Lists</a>
              </li>

              <li>
                <a href='/docs/content/tables/'>Tables</a>
              </li>

              <li>
                <a href='/docs/content/typography/'>Typography</a>
              </li>

            </ul>
          </div>
        </div>

        <div class='collapsible full-width'>
          <input id='collapsible-layout' type='radio' name='collapsible'>
          <label for="collapsible-layout">Layout</label>
          <div class="collapsible-body">
            <ul>

              <li>
                <a href='/docs/layout/flexbox/'>Flexbox</a>
              </li>

            </ul>
          </div>
        </div>

        <div class='collapsible full-width'>
          <input id='collapsible-utilities' type='radio' name='collapsible'>
          <label for="collapsible-utilities">Utilidades</label>
          <div class="collapsible-body">
            <ul>

              <li>
                <a href='/docs/utilities/borders/'>Borders &amp; Shadows</a>
              </li>

              <li>
                <a href='/docs/utilities/colors/'>Colors</a>
              </li>

              <li>
                <a href='/docs/utilities/spacing/'>Spacing</a>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class='paper'>
      <div class="row flex-center">
        <p>
          Escrito com 💛 por <a href="https://guiseek.web.app" target="_blank">Gui Seek</a> e mais alguns
          <a href="https://github.com/guiseek/jam-paper-notes/graphs/contributors">fantásticos colaboradores</a>!
          Que me apoiam na decisão de novos conteúdos.
        </p>
      </div>
    </div>
  </div>

</div>
