#top {
  max-width: 1440px;
}
.demo .row .col {
  background-color: #eee;
}
.demo .row .col:nth-child(even) {
  background-color: #ddd;
}
.docs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.summary a {
  color: #41403e;
}
img.no-responsive {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}
.to-top {
  opacity: 1;
  display: inline-block;
  padding: 1em;
  position: fixed;
  bottom: 1em;
  right: 1em;
}
.to-top .paper-btn {
  padding: 0.6em 1em;
  background: #fff;
  border-top-left-radius: 185px 160px;
  border-top-right-radius: 200px 195px;
  border-bottom-right-radius: 160px 195px;
  border-bottom-left-radius: 185px 190px;
}
.demo-title:hover + .to-top {
  opacity: 0;
}
.demo-title h1 {
  margin: .5rem 1rem;
}
.demo-title h3 {
  margin: .5rem 1rem;
}
.demo-title .logo {
  color: inherit;
  border: unset;
  background: none;
  width: 128px;
}
.sidebar .paper {
  background-image: url("/assets/uig-watermark.svg");
  background-position: 10px 10px;
  background-size: 3rem;
  background-repeat: no-repeat;
  &::before {
    content: "";
    top: 10px;
    left: 10px;
    width: 3rem;
    height: 3rem;
    position: absolute;
    filter: blur(10px);
  }
}
.sidebar-title a {
  color: inherit;
  background: none;
}

.collapsible.full-width {
  width: 100%;
}
